/**
 * Label Colors
 */
$label--default--color-bg:          $info-color--bg;
$label--positive--color-bg:         $success-color--bg;
$label--negative--color-bg:         $error-color--bg;
$label--warning--color-bg:          $warning-color--bg;


